/* variables */
:root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
  /* width: 111px;
  padding-top: 40vh; */
  /* height: 100vh;

  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  display: flex; */
  /* display: flex; */
}

/* reset */

h1 {
  font-size: 6vw;
  font-weight: bold;
  color: rgb(185, 185, 185);
  font-family: "Poppins", "sans-serif";
}

hr {
  background-color: white;
}

p {
  font-size: 5vw;
  color: rgb(185, 185, 185);
}
li {
  list-style-type: none;
}

/* base styles */
body {
  --hue: var(--hue-neutral);
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: "Rubik-Regular";
  --hue-neutral: 252.8;
  --hue-wrong: 0;
  --hue-mark: 200;
  --hue-correct: 120;
  background-color: rgb(29, 26, 26);
  color: rgb(185, 185, 185);
  background: black url("images/background.jpg") no-repeat fixed center;
  --hue: var(--hue-neutral);
  color: rgb(185, 185, 185);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0.6);
  display: inline-block;
}

.initial-button button {
  background: none;
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0.6);
  display: inline-block;
}

.container {
  padding: 1vw;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  color: rgb(185, 185, 185);
  background-color: rgb(29, 26, 26);
}

/* fonts */
@font-face {
  font-family: "Rubik Regular";
  src: url("assets/fonts/Rubik-Regular.ttf");
}

h1,
h2,
h3,
h4 {
  color: #dddbff;
  font-weight: normal;
}

p,
a,
li {
  color: #9893d8;
}

h1,
h3 {
  font-size: 1.2em;
}

/* End Page */

#end {
  text-align: center;
  font-size: 2.5vw;
  padding: 10%;
}

/* Result Page */

.result-box {
  text-align: center;
  padding-bottom: 2%;
}

.result-box table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}

.result-box table td {
  border: 1px solid #cccccc;
  padding: 8px 15px;
  font-weight: 500;
  color: white;
  width: 50%;
  text-align: left;
  font-size: 18px;
}

.result-box .btn {
  margin-right: 20px;
}

#breakdown {
  table-layout: fixed;
  border: 1px solid #cccccc;
}

/* Initial Page */

#initial {
  padding: 10% 10%;
  align-items: center;
  text-align: center;
}

#title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%;
}

/* Main Page */

#mainPage {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.hud-prefix {
  font-size: 1rem;
  display: inline;
  width: 100%;
}

#hud {
  justify-content: space-between;
  padding-left: 10%;
  float: left;
  width: 100%;
  padding-bottom: 3%;
  padding-top: 3%;
}

#footer {
  padding-bottom: 5%;
  padding-top: 3%;
}

#question {
  font-family: "Poppins", "sans-serif";
}

#question-container {
  justify-content: center;
  padding-bottom: 2%;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

/* Progress bar */

/* #progressBar {
  float: right;
  width: 40%;
  height: 2rem;
  border: 0.2rem solid rgb(8, 145, 24);

  margin-right: 11%;
  border-radius: 50px;
  overflow: hidden;
} */

/* #progressBarFull {
  height: 100%;
  background: rgb(8, 145, 24);
  width: 0%;
} */

/* #progressText {
  display: inline;
  float: left;
  width: 20%;
  color: rgb(185, 185, 185);
} */

/* Buttons */

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  /* padding: 5px 10px; */
  margin: 1%;
  text-align: center;
  outline: none;
  color: rgb(185, 185, 185);
}

.btn:hover {
  border-color: black;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
  transform: scale(1.03);
}

.question-btn {
  text-align: center;
  /* width: 80%; */
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  color: white;
  outline: none;
  font-size: 200%;
  font-family: "Poppins", "sans-serif";
}

.question-btn:hover {
  border-color: black;
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

.answer-buttons {
  align-items: center;
  align-content: center;
}

.question-btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.question-btn.correct:hover {
  --hue: var(--hue-correct);
  transform: scale(1);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(11, 184, 26, 0.6);
}

.question-btn.wrong {
  --hue: var(--hue-wrong);
}

.question-btn.wrong:hover {
  --hue: var(--hue-wrong);
  transform: scale(1);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(189, 23, 23, 0.6);
}

.question-btn.marked {
  --hue: var(--hue-mark);
}

.restart-btn,
.home-btn,
.results-btn,
.toEndPage-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.next-btn,
.check-btn {
  font-size: 1.5rem;
  font-weight: bold;
}

.initial-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%;
}

.start-btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px) {
  #mobile {
    display: none;
  }
}

footer {
  grid-column: 1/3;
}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
  /* body {
    font-size: 18px;
  } */
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}

/* grid testing */
/* .projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */
