/* variables */
:root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
  --hue-neutral: 252.8;
  --hue-wrong: 0;
  --hue-mark: 200;
  --hue-correct: 120;
  /* width: 111px;
  padding-top: 40vh; */
  /* height: 100vh;

  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  display: flex; */
  /* display: flex; */
}

/* reset */

h1 {
  /* font-size: 6vw; */
  font-weight: bold;
  color: rgb(185, 185, 185);
  font-family: "Poppins", "sans-serif";
}

hr {
  background-color: white;
}

p {
  font-size: 5vw;
  color: rgb(185, 185, 185);
}
li {
  list-style-type: none;
}

/* base styles */
body {
  --hue: var(--hue-neutral);
  font-family: "Rubik-Regular";
  --hue-neutral: 252.8;
  --hue-wrong: 0;
  --hue-mark: 200;
  --hue-correct: 120;
  background-color: rgb(29, 26, 26);
  color: rgb(185, 185, 185);
  background: black url("images/background.jpg") no-repeat fixed center;
  --hue: var(--hue-neutral);
  color: rgb(185, 185, 185);
  align-items: center;
}

.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0.6);
  display: inline-block;
}

.container-fluid {
  width: 100%;
  white-space: nowrap;
}

/* fonts */
@font-face {
  font-family: "Rubik Regular";
  src: url("assets/fonts/Rubik-Regular.ttf");
}

h1,
h2,
h3,
h4 {
  color: #dddbff;
  font-weight: normal;
}

p,
a,
li {
  color: #9893d8;
}

/* h1, */
/* h3 {
  font-size: 1.2em;
} */

nav {
  width: 100%;
}

.hidden {
  display: none;
}

.box {
  padding: 1vw;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  color: rgb(185, 185, 185);
  background-color: rgb(29, 26, 26);
}

/* Progress bar */

#progressBar {
  float: center;
  width: 40%;
  height: 2rem;
  border: 0.2rem solid rgb(8, 145, 24);

  margin-right: 11%;
  border-radius: 50px;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background: rgb(8, 145, 24);
  width: 0%;
}

#progressText {
  display: inline;
  float: left;
  width: 20%;
  color: rgb(185, 185, 185);
}

/* Header */

.navbar {
  text-align: center;
}

.nav {
  display: inline-block;
}

#user {
  color: black;
}

/* Buttons */

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  /* padding: 5px 10px; */
  margin: 1%;
  text-align: center;
  outline: none;
  color: rgb(185, 185, 185);
}

.btn:hover {
  border-color: black;

  transform: scale(1.03);
}

.btn-primary:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
}

.btn-danger:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(206, 8, 8, 0.6);
}

.btn-success:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgb(19, 102, 33);
}

.btn-secondary:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgb(83, 82, 79);
}

/* Colours */

.red {
  background-color: red;
}

.green {
  background-color: green;
}

/* Create */

.widget {
  color: white;
}

#answer {
  width: 80%;
  display: inline-block;
}

#upload-question {
  width: 80%;
  display: inline-block;
}

#upload-title {
  width: 80%;
  display: inline-block;
}

#answerOption {
  display: inline-block;
}

#answerCheckbox {
  display: inline-block;
}

/* Quizzes */

#finished {
  text-align: center;

  /* margin-left: 20vw; */

  /*style="display: inline-block; text-align: left;"*/
}

#finished2 {
  /* text-align: center; */
  display: inline-block;
  max-width: 60%;

  /* margin-left: 20vw; */
  text-align: left;
  /*style="display: inline-block; text-align: left;"*/
}

/* #center {
  text-align: left;
} */
#quizzesTitle {
  text-align: center;
  /* margin-left: 20vw; */
}

/* Post */

.answer-buttons {
  align-items: center;
  align-content: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 10%; */
}

.hud-prefix {
  font-size: 1rem;
  display: inline;
  width: 100%;
}

#hud {
  justify-content: space-between;
  padding-left: 10%;
  float: left;
  width: 100%;
  padding-bottom: 3%;
  padding-top: 3%;
}

#footer {
  padding-bottom: 5%;
  padding-top: 3%;
  /* justify-content: center;
  text-align: center; */
}

#question {
  font-family: "Poppins", "sans-serif";
}

#question-container {
  justify-content: center;
  padding-bottom: 2%;
}

#end {
  text-align: center;
  font-size: 2.5vw;
  padding: 10%;
}

/* Post - Initial */

#initial {
  padding: 10% 10%;
  align-items: center;
  text-align: center;
}

/* Post - Buttons */

.initial-button Button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%;
  background: none;
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0.6);
  display: inline-block;
}

.answer-btn {
  text-align: center;
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  color: white;
  outline: none;
  font-size: 200%;
  font-family: "Poppins", "sans-serif";
}

.answer-btn:hover {
  border-color: black;
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

.answer-btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.answer-btn.correct:hover {
  --hue: var(--hue-correct);
  transform: scale(1);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(11, 184, 26, 0.6);
}

.answer-btn.wrong {
  --hue: var(--hue-wrong);
}

.answer-btn.wrong:hover {
  --hue: var(--hue-wrong);
  transform: scale(1);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(189, 23, 23, 0.6);
}

.answer-btn.marked {
  background-color: rgb(11, 47, 146);
}

.answer-btn.correct {
  background-color: green;
}

.answer-btn.incorrect {
  background-color: red;
}

.restart-btn,
.home-btn,
.results-btn,
.toEndPage-btn,
.next-btn,
.check-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.start-btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Post - Results  */

.result-box {
  text-align: center;
  padding-bottom: 2%;
}

.result-box table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}

.result-box table td {
  border: 1px solid #cccccc;
  padding: 8px 15px;
  font-weight: 500;
  color: white;
  width: 50%;
  text-align: left;
  font-size: 18px;
}

.result-box .btn {
  margin-right: 20px;
}

#breakdown {
  table-layout: fixed;
  border: 1px solid #cccccc;
}

/* SCREEN STYLES */

#siteTitle {
  font-size: 5vw;
}

/* mobile styles */
@media screen and (min-width: 0px) {
  /* Navbar */

  .nav-item {
    font-size: 5vw;
  }

  footer {
    grid-column: 1/3;
  }

  h1 {
    font-size: 10vw !important;
  }

  h2 {
    font-size: 8vw !important;
  }
}

@media screen and (min-width: 360px) {
  /* Navbar */

  #siteTitle {
    font-size: 8vw;
  }

  h1 {
    font-size: 10vw !important;
  }
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  /* Navbar */

  .nav-item {
    font-size: 4vw;
  }

  #siteTitle {
    font-size: 6vw;
  }

  h1 {
    font-size: 8vw !important;
  }

  h2 {
    font-size: 5vw !important;
  }
}

@media screen and (min-width: 768px) {
  /* Navbar */

  .nav-item {
    font-size: 2vw;
  }

  #siteTitle {
    font-size: 5vw;
  }

  .vl {
    margin-left: 10px;
    border-right: 3px solid black;
    height: 80px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 2px solid #000000;
  }
}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
  .vl {
    height: 8vw;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 6vw !important;
  }

  p {
    font-size: 3vw;
  }
  #siteTitle {
    font-size: 3vw;
  }
  .nav-item {
    font-size: 1.75vw;
  }
  .vl {
    height: 5vw;
  }
}

/* Large desktop styles */
@media screen and (min-width: 2000px) {
  h1 {
    font-size: 5vw !important;
  }
  h2 {
    font-size: 4vw !important;
  }

  /* Super Large desktop styles */
  @media screen and (min-width: 3000px) {
    h1 {
      font-size: 4vw !important;
    }
    h2 {
      font-size: 2vw !important;
    }
  }
}

/* grid testing */
/* .projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */
